.Cart {
  width: 100%;
  max-width: 300px;
  background-color: var(--color-4);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(100%, 0);
  transition: all 0.5s ease;
}

.Cart-container {
  flex-grow: 1;
  overflow: auto;
}

.Cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-top: 1px solid var(--color-1);
  gap: 15px;
}

.Cart-total h2 {
  font-weight: 500;
  color: var(--color-1);
}

.Cart-button {
  border: 1px solid var(--color-1);
  padding: 2px 5px;
  background: none;
  color: var(--color-1);
  cursor: pointer;
  border-radius: 5px;
  font-size: small;
}

.Cart-container .CartItem:last-child {
  border: none;
}

.Cart-active {
  transform: translate(0, 0);
  transition: all 0.5s ease;
}
