.Products{
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-5);
  padding: 80px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;

}